img,legend{border:0}
a:active,a:focus,a:hover,input:focus{outline:0}
#sitename,#sitename h2,nav{padding-top:.3rem}
#content>article,#content>section,.clear{clear:both}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{background:0 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.leftContent,.rightContent,textarea{vertical-align:top}
sup{top:-.5em}sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}
.swiper-container-no-flexbox .swiper-slide{float:left}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.swiper-wrapper{z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}
.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0}
.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}
.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}
.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:15px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:15px 44px;-webkit-background-size:15px 44px;background-size:15px 44px;background-position:center;background-repeat:no-repeat}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}
.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}
.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}
.swiper-pagination.swiper-pagination-hidden{opacity:0}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-white .swiper-pagination-bullet{background:#fff}
.swiper-pagination-bullet-active{opacity:1;background:#007aff}
.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}
.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}
.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}
.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}
.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}
.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}
.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}
.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}
.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}
.swiper-container-fade .swiper-slide,.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}
.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
.swiper-container-cube{overflow:visible}
.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%}
.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}
.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}
.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px)}
.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow{z-index:0}
.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}
.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}
.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}
.down,.swiper-container>.next{right:0}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}
.swiper-lazy-preloader-white:after,.swiper-lazy-preloader:after{background-image:url(../imgs/loader-2.png)}
.swiper-scrollbar-cursor-drag{cursor:move}
.swiper-lazy-preloader{width:100px;height:100px;position:absolute;left:50%;top:50%;margin-left:-50px;margin-top:-50px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 4.5s infinite;-moz-animation:swiper-preloader-spin 4.5s infinite;animation:swiper-preloader-spin 4.5s infinite}
.swiper-lazy-preloader:after{display:block;content:"";width:100px;height:100px;background-position:cover;-webkit-background-size:cover;background-size:cover;background-repeat:no-repeat}
::selection{background-color:rgba(0,0,255,.99);color:#fff}
::-moz-selection{background-color:rgba(0,0,255,.99);color:#fff}
input::selection{background-color:rgba(255,255,255,.5);color:#fff}
input::-moz-selection{background-color:rgba(255,255,255,.5);color:#fff}
::-webkit-input-placeholder{color:#000}::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
.noDesktop{display:none}
#sitename,.noMobile{display:block}
#open-menu,#sitename br{display:none}
html{font-size:62.5%}
body,html{height:100%}
body{text-rendering:optimizeLegibility;font-family:'sans-serif';font-weight:400;font-variant-ligatures:common-ligatures;-webkit-font-variant-ligatures:common-ligatures;-moz-font-variant-ligatures:common-ligatures;font-feature-settings:"liga","clig";-webkit-font-feature-settings:"liga","clig";-moz-font-feature-settings:"liga","clig";-o-font-feature-settings:"liga","clig"}
h1,h2,h3{font-size:inherit;font-weight:400}
a{color:inherit;text-decoration:none;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;cursor:url(../imgs/punkt.svg),url(../imgs/punkt.png),pointer}
.current,.hover-blue:hover a,a:hover{color:#001689}
.content h3,ul{margin-left:2rem}
header{position:fixed;width:20%;padding:1.5rem 0 0 1.5rem;font-size:1.2rem;z-index:2}
#sitename,#sitename .border-bottom{padding-bottom:0}
.super-big-text{font-size:6.9rem;line-height:6rem}
.big-text{font-size:1.7rem;font-weight:400;line-height:2rem}
.small-text{font-size:1.3rem;line-height:1.6rem}
.very-small-text{font-size:1.1rem;line-height:1.3rem}
.nav-link{display:block}
.arrow-cursor,.down{display:none;pointer-events:none}
.border-top{border-top:.05rem solid #000;padding-top:.2rem}
.border-bottom{padding-bottom:.2rem;border-bottom:.05rem solid #000}
.line{stroke-width:1;stroke:#000;fill:none}
#content{float:right;width:80%;padding:1.5rem 1.5rem 0;position:relative}
.content .border-top,.description,.diaporama .border-top{padding-top:.3rem}
#content .last .content:last-child{padding-bottom:0}
.w20pc{width:25%}
.description{position:relative;float:left;width:24%;margin-bottom:1rem;-webkit-transition:max-height .4s ease-in-out;-moz-transition:max-height .4s ease-in-out;-ms-transition:max-height .4s ease-in-out;-o-transition:max-height .4s ease-in-out;transition:max-height .4s ease-in-out}
.tab{padding-left:3rem}
.down{position:absolute;top:.3rem;width:2.7rem;height:2.7rem}
.content,.diaporama{float:right;width:75%;padding-left:1rem;margin-bottom:1rem}.swiper-slide{color:#646464;font-size:1rem;border:0}
.swiper-slide.video{padding-bottom:75%}
.swiper-slide iframe{position:absolute;width:100%;height:100%}
#close,.top{background:0 0;border:0}
.arrow-cursor.prev{transform:rotate(180deg)}
.content:last-child{margin-bottom:0;padding-bottom:.3rem}
.content p{margin-bottom:2rem}
.content p:last-child{margin-bottom:0}
.leftContent{display:inline-block;width:10%}
.leftContent.hidden{visibility:hidden;display:inline-block}
.rightContent{display:inline-block;width:90%}
#impressum .content{padding-bottom:0}
#impressum h3,#impressum p{margin-left:0;margin-top:1.6rem;margin-bottom:0}
#impressum h3:first-child,#impressum p:first-child{margin-top:0}
.three-cols{column-count:3;column-gap:1.3rem}
.swiper-container{cursor:auto}
.swiper-container .legend{position:absolute;bottom:1rem;left:1rem}
.swiper-container>.swiper-wrapper>img{max-width:100%}
.swiper-container>.next,.swiper-container>.prev{position:absolute;top:0;bottom:0;width:50%;z-index:666;mix-blend-mode:difference;cursor:none;-webkit-user-modify:read-write-plaintext-only;outline-style:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
#close,.cross.close,.top,input[type=submit]{cursor:url(../imgs/punkt.svg),url(../imgs/punkt.png),pointer}
.swiper-container>.next:hover .arrow-cursor,.swiper-container>.prev:hover .arrow-cursor{display:block}
.swiper-container img{width:100%;height:100%}
#close{position:absolute;top:1rem;right:1rem}
#close .plus{transform:rotate(45deg)}
#close .line{stroke:#fff}
#page-information #content{padding-bottom:1.2rem}
#page-information #arrow-fixed{display:none}
#hoverImages{position:fixed;pointer-events:none;width:39.8%;top:0;left:0;height:100%;padding:.65rem;z-index:100;display:flex;justify-content:center;align-items:center;opacity:0;transition:all .4s ease-in-out}
#hoverImages img,.top{display:block;position:absolute;transition:all .4s ease-in-out}
#hoverImages img{top:0;left:0;width:100%;height:auto;opacity:0}
.top{top:-1.3rem;left:1.3rem;color:#000;transform:translateY(-100%)}
.top svg{transition:all .4s ease-in-out;transform:rotate(-90deg)}
.top svg .line{transition:all .4s ease-in-out}.top:hover svg{margin-bottom:100%}
.top:hover .line{stroke:#001689}
footer{position:fixed;bottom:1.5rem;padding-left:1.3rem;left:0;width:20%;font-size:9px}
footer .top{position:absolute;bottom:auto;top:-1.4rem;left:-.2rem}
#logo{position:absolute;bottom:0;left:1.5rem;width:1.6rem}
dd,dt{display:inline-block}
dt{width:30%}
dd{width:70%}
.bottomBox{background-color:#001689;width:100%;padding:1.3rem}
input{background:0 0;border:0;border-top:1px solid #000;border-left:1px solid #000;border-radius:0;padding:.5rem;color:#000;margin-right:1.3rem;flex-grow:1;width:100%}
input:focus{background:#faffbf}
input[type=submit]{background:#fff;color:#000;border-radius:3rem;border:1px solid #000;margin-right:0}
input[type=submit]:hover{background:#000;color:#fff}
.cross.close{position:absolute;top:1.3rem;right:1.3rem;transform:rotate(45deg)}
.cross.close .line{stroke:#fff}
@media screen and (min-width:2000px){html{font-size:80%}}
@media screen and (max-width:1180px){footer,header{width:25%}
#hoverImages{width:43.8%}
#content{width:75%}}
@media screen and (max-width:864px){#hoverImages{width:36.5%;margin-top:5.2rem}
footer{width:100%;position:relative;margin-left:0;padding:0;margin-top:1.5rem;box-sizing:border-box}
header{width:100%;padding-right:1.5rem}
.top,header br{display:none}
#content{width:100%;height:auto}
#description{width:24%}
#headerTop{position:absolute;top:0;left:0;width:100%;height:inherit}}
@media screen and (max-width:980px) and (min-width:864px){#sitename br{display:block}}
@media screen and (max-width:864px) and (min-width:641px){.tablet{display:block}
.big-text{font-size:1.44rem;line-height:1.71rem}
.super-big-text{font-size:5.7rem;font-weight:400;line-height:5rem}
header{width:100%;padding-bottom:.4rem;position:fixed;background:#fff;z-index:30}
header #sitename{width:36.9%;border-top:.05rem solid #000;float:left}
header .nav-link,header h1,header h2,header nav{float:left;width:100%}
header nav{width:63.1%;padding-left:1%;padding-top:0}
header nav.border-bottom{border:0}
header nav .nav-link{width:100%;padding-right:0}
header nav .nav-link:first-child{padding-top:.2rem;border-top:.05rem solid #000}
header nav .nav-link:last-child{padding-top:.3rem;padding-bottom:.2rem;border-bottom:.05rem solid #000}
header .border-top{border-top:0}
#headerTop{height:6rem;right:0;left:auto;width:31rem}
#sitename{display:inline-block}
#content{margin-top:5.3rem}
.description,footer div{width:36.9%}
.content,.diaporama{width:63.1%;padding-left:1%}
#page-information section:last-of-type .content .border-bottom{margin-bottom:1.5rem}}
@media screen and (max-width:640px){.noDesktop{display:block!important}
.noMobile{display:none!important}
#header:after,#open-menu{display:block;position:absolute}
.super-big-text{font-size:4rem;line-height:3.5rem}
.big-text{font-size:2.25rem;line-height:2.62rem}
#impressum .content,.very-small-text,footer.small-text{font-size:1rem;line-height:1.3rem}
#header{overflow:hidden;height:5.6rem;transition:height .3s linear;z-index:10;position:fixed;background:#fff}
#header:after{content:'';bottom:0;left:0;width:100%;height:1rem;background:#fff}
#open-menu{right:1.5rem;top:1.7rem;width:2.7rem;height:2.7rem;text-align:right;background:0 0;color:#000;border:0;transition:transform .3s linear}
.menu-is-open #open-menu{transform:rotate(45deg)}
.menu-is-open #header{height:14.3rem}
.menu-is-open #content{top:13.7rem}
.menu-is-open #headerTop{display:none}
#content{padding-top:.4rem;position:absolute;top:5.2rem;transition:top .3s linear}
#content>.last .border-bottom{border-bottom:0}
#content>article>.description{width:100%;margin-bottom:.5rem;text-indent:0;border-bottom:none;max-height:2.5rem;overflow:hidden;padding-top:.5rem}
#content>article>.description.active{max-height:500px}
#content>article>.description.active>.down{transform:rotate(-90deg)}
#content>article>.description>.down{transform:rotate(90deg);display:block;width:2rem;height:2rem;margin-right:.7%}
#content>article>.diaporama{width:100%;padding-left:0;margin-bottom:.5rem}
#content>article>.diaporama>.swiper-container>.swiper-wrapper>.swiper-slide.description{display:block}
#content>article:last-of-type>.diaporama{margin-bottom:1rem}
.leftContent{width:20%}
.rightContent{width:80%}
.three-cols{column-count:2}
#page-information .content .border-top{border-top:0}
#page-information .content .border-bottom{border-bottom:0}
.content,.description{width:100%;padding-left:0}
.description{margin-bottom:0}
footer{padding-right:0;padding-left:0}
#logo{bottom:.4rem;right:0;transform:translateY(0);left:auto;top:auto;width:1.3rem}
dd,dt{vertical-align:top;width:50%}
#arrow-fixed{display:none}
.hover-blue a{color:#001689}}
@media screen and (max-width:400px){header br{display:block}
.super-big-text{font-size:2.4rem;line-height:2rem}
#promo{border-width:.42rem;bottom:-.21rem}
.menu-is-open #header{height:14.3rem}
.menu-is-open #content{top:13.4rem}}
.hidden{display:none}
@media (pointer:coarse){.diaporama .arrow-cursor{visibility:hidden}}